h1 {
    color: black;
    text-align: center;
}

body {
    background-color: white;
}

form {
    margin: auto;
    width: 50%;
    border: 3px solid darkgray;
    padding: 30px;
    background-color: white;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #8c8c8c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #8c8c8c;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input::placeholder {
    color: black;
}

p {
    text-align: center;
    color: black;
    font-size: 20px;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #9c9c9c;
    width: 175.8vh;
    height: 7vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2vh 2vw;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-top {
    display: flex;
    align-items: center;
    gap: 1.5vh;
}

.header-top img {
    width: 18vh;
    height: auto;
    margin-top: -2vh;
    margin-left: -2vh;
}

.header-top h1 {
    margin-left: -2vh;
    margin-top: 1vh;
    color: white;
}

.header-links {
    display: flex;
    gap: 2vh;
    margin-top: -1vh;
    margin-left: 103vh;
}

.header-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 2vh;
}

.header-links a.active {
    color: #ccc;
    cursor: default;
    pointer-events: none;
    text-decoration: underline;
}

.content {
    flex: 1;
}

footer {
    background-color: #9c9c9c;
    color: white;
    padding: 1.32vh;
    display: flex;
    gap: 1vh;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer h2 {
    font-size: 2vh;
    margin-left: 0vh;
}

footer img {
    width: 20vh !important;
    height: 6vh !important;
    margin-top: 0vh;
    margin-left: 75vh;
}